

/* Definindo as cores de destaque */
.DocsNhighlightAqua {
  color: #198168;
}

.DocsNhighlightOrange {
  color: #f6794a;
}

/* Ajustando o espaçamento da seção */
.DocsNsection {
  margin-top: 70%;
}



.DocsNbgContent img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

/* Layout responsivo para a seção dos cards */
.DocsNcontentSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas por padrão */
  gap: 5% 0vw; /* Espaçamento entre os cards */
  padding: 20px;
  margin-bottom: 10vw;
  justify-items: center; /* Centraliza os cards horizontalmente */
}

/* Quando a tela for menor que 1200px, ajusta para 2 colunas */
@media (max-width: 1500px) {
  .DocsNcontentSection {
    grid-template-columns: repeat(2, 1fr); /* 2 colunas */
  }
}

/* Quando a tela for menor que 800px, ajusta para 1 coluna */
@media (max-width: 800px) {
  .DocsNcontentSection {
    grid-template-columns: 1fr; /* 1 coluna */
  }
}
