.DocsNcard-container {
  perspective: 1000px;
  width: 450px;
  height: 380px;
  cursor: pointer;
}
.DocsNcard-front,
.DocsNcard-back.DocsNflipped {
  backface-visibility: visible;
}


.DocsNcard {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

/* O flip ocorre na classe DocsNflipped */
.DocsNcard-container.DocsNflipped .DocsNcard {
  transform: rotateY(180deg); /* Girar o card quando a classe DocsNflipped for ativada */
}

.DocsNcard-front,
.DocsNcard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Impede que o verso fique visível enquanto não estiver virado */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}





.DocsNcard-front.DocsNflipped {
  background-color: #f0f0f0;
  transform: rotateY(0deg); /* A frente começa virada para o usuário */
  display: flex;
  justify-content: center;
  align-items: center;
}

.DocsNcard-back {
  background-color: #4caf50;
  color: white;
  transform: rotateY(180deg); /* O verso começa rotacionado */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 1.2rem;
  text-align: center;
}

/* Responsividade */
@media (max-width: 1200px) {
  .DocsNcard-container {
    padding: 1vw;
    width: 80%;
    max-width: 400px;
    height: 300px;
  }

  .DocsNtext {
    font-size: 100%;
    font-weight: 600;
  }

  .DocsNcard-front {
    flex-direction: column-reverse;
  }
}

@media (max-width: 800px) {
  .DocsNcard-container {
    width: 85%;
    max-width: 450px;
    height: 280px;
  }

  .DocsNtext {
    font-size: 120%;
    font-weight: 600;
  }

  .DocsNimageFront {
    margin-bottom: 1rem;
  }
}
