.containerIconSobreNos {
  display: flex;
  align-items: center; /* Alinha o ícone no topo */
  
  overflow: hidden; /* Impede o scroll da imagem de fundo */
  width: 100%;
}

.iconSobreNos {
  overflow: hidden; /* Impede o scroll da imagem de fundo */
  flex-shrink: 0; /* Evita que o ícone seja redimensionado */
}

.contentTextSobreNos {
  overflow: hidden;
  
  overflow: hidden; /* Impede o scroll da imagem de fundo */

  display: flex;
  flex-direction: column; /* Organiza subtítulo e texto em uma coluna */
}

.subtitleSobreNos {
  overflow: hidden; /* Impede o scroll da imagem de fundo */

  text-align: left;
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.textSobreNos {
  text-align: left;
  margin: 0; /* Remove margens adicionais */
  overflow: hidden; /* Impede o scroll da imagem de fundo */
  font-size: 1rem;
  width: 100%;

  color: #fff;
}

.sectionTexts {
  overflow: hidden;
  margin-top: 4vh;
  margin-right: 2vh;
  overflow: hidden; /* Impede o scroll da imagem de fundo */
}

@media (max-width: 768px) {
  .containerIconSobreNos {
    display: flex;
    align-items: flex-start; /* Alinha o ícone no topo */
    overflow: hidden; /* Impede o scroll da imagem de fundo */
    width: 100%;
    margin-bottom: 10vw;
  }

  .subtitleSobreNos {
    overflow: hidden; /* Impede o scroll da imagem de fundo */

    text-align: left;
    margin: 0;
    font-size: 0.8rem;
    font-weight: bold;
  }
  .textSobreNos {
    text-align: left;
    margin: 0; /* Remove margens adicionais */
    overflow: hidden; /* Impede o scroll da imagem de fundo */
    font-size: 0.5rem;
    width: 100%;
  
    color: #fff;
  }
}
